
  body {
        background-color: rgb(200,200,200);}

        h2 {
background-color: #3e7cee;}


h2 {
    background-color: #3e76ee;}

    p {
        background-color: white;}
        

        p {
            
            color: red;
            font-family: courier;
            font-size: 160%;
            border: 2px solid powderblue;
          }

           

         